---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1> Introduction to Programming </h1>
  <ul class="posts">
    {% for post in site.posts reversed %}
      {% if post.categories contains "Programming" %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Data Structures</h1>
  <ul class="posts">
    {% for post in site.posts reversed %}
      {% if post.categories contains "StructuredLearning" %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
